/* geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
  border: nome;
}

body {
  background-image: url('../imagens/capa.jpg');
  background-size: cover;
  /* background-position-y: -200px; */
}

textarea:focus,
input:focus {
  outline: none;
}


/* container telefone */

#telefone-container {
  background-color: #FFF;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 45px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

#telefone-container2 a {
  text-align: center;
  color: #5cb270;
}

#forgot-pass {
  text-align: right;
  display: block;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #FFF;
}

